body{
    background-image: url(img/fondo-web.jpg);
    background-size: cover;
    margin: 0;
  }

.logo{
	padding-top: 40px;
	padding-bottom: 30px;
	padding-left: 150px;
	display: inline;
	float: left;
    background-color: #c793df;
}

footer{
	text-align: center;
	font-family: fantasy;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #c793df;
}

.github{
	width: 35px;
	height: auto;
	margin: 0 auto;

}
