body{
    background-image: url(./public/archivos_para_css/fondo5.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat ;
    text-align: center;
}

@font-face {
    font-family: fuente1;
    src: url(./public/archivos_para_css/fuente1.ttf);
}

@font-face {
    font-family: fuente2;
    src: url(./public/archivos_para_css/fuente2.ttf);
}

h1{
    border-style: outset;
    border-width: 15px;
    border-radius: 20px;
    border-color: rgb(194, 158, 236);
    padding: 25px;
    background-color: rgb(255, 255, 255, 0.548);
}

h1, h2{
    font-family: fuente2;
    color: rgb(218, 187, 228);
    font-size: 50px;
    text-shadow: -1px 0 black, 0 1px black,
	  1px 0 black, 0 -1px black
}

#msg_entry{
    border-style: ridge;
    border-color: rgb(194, 158, 236);
    border-width: 5px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.548);
    color: white;
    width: 50%;
    height: 30px;
    font-family: fuente1;
    font-size: 25px;
}

#btn_test{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: rgb(240, 207, 240);
    background-color: #b07ebe;
    border-radius: 6px;
    border: 2px solid #89059b;
  }
  #btn_test:hover{
    color: #89059b;
    background-color: #ffffff;
  }

#display{
    height: 900px;
    width: 700px;
    text-align: left;
    font-family: fuente1;
    font-size: 25px;
    color: rgb(218, 187, 228);
    overflow: scroll;
}

::-webkit-scrollbar {
    display: none;
}

.blue {
    text-align: left;
    font-family: fuente1;
    font-size: 20px;
    color: rgb(145, 74, 168);
    background-color: rgb(255, 255, 255);
}

#info{
    border-style: outset;
    border-width: 15px;
    border-radius: 20px;
    border-color: rgb(194, 158, 236);
    padding: 25px;
    text-align: left;
}

#dir_ip, #users {
    border-style: outset;
    border-width: 15px;
    border-radius: 20px;
    border-color: rgb(194, 158, 236);
    padding: 5%;
    text-align: center;
}

.izq{
    text-align: center;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 2%;
    width: 30%;
    height: 40%;
    position: relative;
    float: left;
    height: auto;
}
  
.der{
    border-style: outset;
    border-width: 15px;
    border-radius: 20px;
    border-color: rgb(194, 158, 236);
    background-color: rgba(0, 0, 0, 0.548);
    float:right;
    width: 50%;
    height: 40%;
    padding: 15px;
    height: 1000px;
    overflow: auto;
    margin-bottom: 15px;
}